{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row center-columns">
        <!-- Large screen (col-lg-4) -->
        <div class="col-lg-4 col-md-6">
            <!-- Content for the first column -->
            <div class="content-container">
                <!-- Image background within the column -->
                <div class="image-container">
                    <div class="text-container">
                        <h1 class="home-link">Dumbells</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- Large screen (col-lg-4) -->
        <div class="col-lg-4 col-md-6">
            <!-- Content for the second column -->
            <div class="content-container">
                <!-- Image background within the column -->
                <div class="image-container">
                    <div class="text-container">
                        <h1 class="home-link">Racks</h1>
                    </div>
                </div>

            </div>
        </div>
        <!-- Large screen (col-lg-4) -->
        <div class="col-lg-4 col-md-6">
            <!-- Content for the third column -->
            <div class="content-container">
                <!-- Image background within the column -->
                <a class="image-container">
                    <div class="text-container">
                        <h1 class="home-link">Free Weights</h1>
                    </div>
                </a>
            </div>
        </div>
        <!-- Large screen (col-lg-4) -->
        <div class="col-lg-4 col-md-6">
            <!-- Content for the first column -->
            <div class="content-container">
                <!-- Image background within the column -->
                <div class="image-container">
                    <div class="text-container">
                        <h1 class="home-link">Kettlebell</h1>

                    </div>
                </div>
            </div>
        </div>
        <!-- Large screen (col-lg-4) -->
        <div class="col-lg-4 col-md-6">
            <!-- Content for the second column -->
            <div class="content-container">
                <!-- Image background within the column -->
                <div class="image-container">
                    <div class="text-container">
                        <h1 class="home-link">Rowing Machine</h1>
                    </div>
                </div>

            </div>
        </div>

        <!-- Large screen (col-lg-4) -->
        <div class="col-lg-4 col-md-6">
            <!-- Content for the third column -->
            <div class="content-container">
                <!-- Image background within the column -->
                <a class="image-container">
                    <div class="text-container">
                        <h1 class="home-link">Thread mills</h1>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}